body {
  background-color: #00d0ff12;
  color:#000;
}
  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  h1 {
    width: 50%;
    text-align: center;
  }

  .image {
    width: 100%;
  }
}

/* .footer {
      font-style: normal;
      font-size: 1.5em;
      text-align: center;
      color: #8B78E6;
      margin-top: 20px;
} */